:root {
  color-scheme: light dark;

  --background:            light-dark(#fdf6e3, #002b36);
  --background-highlights: light-dark(#eee8d5, #073642);
  --secondary:             light-dark(#93a1a1, #586e75);
  --primary:               light-dark(#657b83, #839496);
  --emphasized:            light-dark(#586e75, #93a1a1);

  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
}

search {
  background-color: var(--background);
  color: var(--primary);
  padding: 1rem;
  position: sticky;
  top: 0;
}

input[type=search] {
  background-color: var(--background);
  border: 1px solid var(--background-highlights);
  border-radius: 12px;
  color: var(--primary);
  font-family: inherit;
  font-size: 1.5em;
  outline: 0;
  padding: 0.5em;
  width: 100%;
}

section {
  box-sizing: border-box;
  overflow-x: scroll;
  padding: 1rem;
  scroll-padding: 1rem;
  scroll-snap-type: x mandatory;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding-right: 1em;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  vertical-align: top;
}

footer {
  background-color: var(--background-highlights);
  color: var(--secondary);
  padding: 1rem;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--violet);
}

