:root {
  color-scheme: light dark;

  --background:            light-dark(#fdf6e3, #002b36);
  --background-highlights: light-dark(#eee8d5, #073642);
  --secondary:             light-dark(#93a1a1, #586e75);
  --primary:               light-dark(#657b83, #839496);
  --emphasized:            light-dark(#586e75, #93a1a1);

  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;
}

body, input {
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
}

header,
section,
footer {
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

form {
  margin: 0;
}

input {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 2rem;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--violet);
}

table {
  border-collapse: collapse;
}

td,
th {
  padding-right: 1em;
  vertical-align: top;
}

footer {
  background-color: var(--background-highlights);
  color: var(--secondary);
  padding: 1em;
}
