<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Perquackey</title>
  </head>
  <body>
    <h1>Perquackey</h1>
    <%= yield %>
    <p>Now using the <a href="http://en.wikipedia.org/wiki/Tournament_Word_List">TWL06 word list</a> courtesy of the <a href="http://www.isc.ro/en/commands/lists.html">Internet Scrabble Club</a>.</p>
  </body>
</html>
