<table>
  <tr>
    <% table.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>

  <% table.each do |row| %>
    <tr>
      <% row.each do |word| %>
        <td><%= word %></td>
      <% end %>
    </tr>
  <% end %>
</table>
