<form action="/" method="post">
  <input name="letters"
 autocomplete="off"
    autofocus="on"
    maxlength="13"
      pattern="[a-z]{10}([a-z]{3})?"
  placeholder="Type your letters here."
     required="on"
         size="30"
        title="Perquackey rolls are 10 or 13 letters."
        value="<%= letters %>"
  />
</form>

<table>
  <tr>
    <% words.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>

  <% words.each do |row| %>
    <tr>
      <% row.each do |word| %>
        <td><%= word %></td>
      <% end %>
    </tr>
  <% end %>
</table>
