<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Perquackey</title>
  </head>

  <body>
    <header>
      <h1>Perquackey</h1>
    </header>

    <%= yield %>

    <footer>
      <p>
        Now using the
        <a href="http://en.wikipedia.org/wiki/Tournament_Word_List">TWL06 word list</a>
        courtesy of the
        <a href="http://www.isc.ro/en/commands/lists.html">Internet Scrabble Club</a>.
      </p>
    </footer>
  </body>
</html>
