<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Perquackey</title>
  </head>

  <body>
    <header>
      <h1>Perquackey</h1>
    </header>

    <%= yield %>

    <footer>
      <p>
        These words are taken from
        <a href="http://en.wikipedia.org/wiki/Tournament_Word_List">the official word list</a>
        for Scrabble tournaments in North America.
      </p>
      <p>
        (A copy of this list, TWL06, may be downloaded from the
        <a href="http://www.isc.ro/en/commands/lists.html">Internet Scrabble Club</a>.)
      </p>
    </footer>
  </body>
</html>
