<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Perquackey</title>
    <style>
      body {
        margin: 0 auto 5em;
        width: 40em;
      }
      section {
        margin-bottom: 1em;
      }
      footer {
        background-color: #eee;
        font-size: 0.9em;
        padding: 1em;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Perquackey</h1>
    </header>

    <section>
      <%= yield %>
    </section>

    <footer>
      <p>
        Enter the letters you rolled to see what you could have spelled.
      </p>
      <p>
        Examples:
        <a href="/eehhhijjoopqt">eehhhijjoopqt</a>,
        <a href="/aaddeginoprsw">aaddeginoprsw</a>
      </p>
      <p>
        These words are taken from
        <a href="http://en.wikipedia.org/wiki/Tournament_Word_List">TWL06, the official word list</a>
        for Scrabble tournaments in North America. (You can
        <a href="http://www.isc.ro/en/commands/lists.html">download this list</a>
        from the Internet Scrabble Club.)
      </p>
      <p>
        <a href="https://github.com/matthewtodd/perquackey">This code is on GitHub</a>.
        Patches welcome!
      </p>
    </footer>
  </body>
</html>
